.loader {
  --size: 400px;
  --duration: 3s;
  --logo-color: hsl(var(--primary));
  --background: hsla(var(--primary) / 0.15);
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
  pointer-events: none;
}

.loader .box {
  position: absolute;
  background: var(--background);
  border-radius: 50%;
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 10px 0,
    inset hsla(var(--accent) / 0.5) 0px 5px 10px -7px;
  inset: var(--inset);
  animation-delay: calc(var(--i) * 0.15s);
  z-index: calc(var(--i) * -1);
  pointer-events: all;
  transition: all 0.3s ease;
  border-top: 1px solid hsla(var(--primary) / 1);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(2) {
  border-color: hsla(var(--primary) / 0.8);
}

.loader .box:nth-child(3) {
  border-color: hsla(var(--primary) / 0.6);
}

.loader .box:nth-child(4) {
  border-color: hsla(var(--primary) / 0.4);
}

.loader .box:nth-child(5) {
  border-color: hsla(var(--primary) / 0.2);
}

.loader .box:last-child {
  filter: blur(30px);
}
.loader .box:not(:last-child):hover {
  filter: brightness(2.5) blur(5px);
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo span {
  animation: color-change var(--duration) infinite ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow:
      rgba(0, 0, 0, 0.5) 0px 10px 10px 0,
      inset hsla(var(--accent) / 0.5) 0px 5px 10px -7px;
  }
  65% {
    transform: scale(1.4);
    box-shadow: rgba(0, 0, 0, 0) 0px 0 0 0;
  }
  100% {
    transform: scale(1);
    box-shadow:
      rgba(0, 0, 0, 0.5) 0px 10px 10px 0,
      inset hsla(var(--accent) / 0.5) 0px 5px 10px -7px;
  }
}

@keyframes color-change {
  0% {
    color: var(--logo-color);
  }
  50% {
    color: white;
  }
  100% {
    color: var(--logo-color);
  }
}
