.darkThemeBtn * {
  transition: all 0.3s;
}

.darkThemeBtn input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkThemeBtn label {
  border: 1px solid hsl(var(--border));
  background: hsla(var(--background) / 0.5);
  border-radius: 10px;
  height: 36px;
  width: 36px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transform: translateY(-2px);
}

.darkThemeBtn label:active {
  border-radius: 5px;
}

.darkThemeBtn label svg {
  position: absolute;
  width: 16px;
  transition: 0.3s;
  z-index: 1;
  fill: hsl(var(--foreground));
}

.darkThemeBtn label svg.sun {
  width: 16px;
  opacity: 0;
  fill: hsl(var(--primary-foreground));
}

.darkThemeBtn label svg.moon {
  opacity: 1;
}

.darkThemeBtn input:checked + label {
  background: hsl(var(--primary));
}

.darkThemeBtn input:checked + label svg.sun {
  opacity: 1;
}

.darkThemeBtn input:checked + label svg.moon {
  opacity: 0;
}

.darkThemeBtn input:checked ~ span {
  background-color: hsl(var(--background));
}
